#contenedor{
    background-color: antiquewhite;
    width: 500px;
    height: 500px;
    text-align: center;
    margin: 50px;
    margin-left: 520px;
}

img{
    height: 350px;
    width: 350px;
    margin-left: 75px;
    margin-top: 35px;
}

button{
    border-radius: 5px;
    border-style: double;
    background-color: black;
    color: white;
    margin-top: 15px;
}