input[type="range"]{
    cursor: pointer;
    width: 550px;
    margin-left: 75px;
}

#center{
    margin-left: 290px;
}

label, h1, input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

